@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300;400&family=Poppins:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300;400&family=Nunito:wght@200&family=Poppins:wght@200;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.body {
    font-family: sans-serif;
    line-height: 1.5%;
}


.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    box-sizing: border-box;
    background-color: rgb(251, 250, 250);
}

/* @media screen and (max-width:800px) {
    body {
        text-align: center;
        background-color: rgb(243, 243, 243);
    }

    .gfg {
        font-size: 30px;
        font-weight: bold;
        color: white;
    }

    .geeks {
        color: white;
    }
} */


.video1 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-and-name {
    position: relative;
    top: -205px;
    display: flex;
    flex-direction: row;
}

.logo {
    position: relative;
    top: -55px;
    left: -258%;
    width: 17.9%;
}

.name-one {
    color: #f9f9f9;
    text-decoration: none;
    position: absolute;
    top: -57px;
    left: -426px;
    font-size: 19px;
}

.name-two {
    color: #f9f9f9;
    text-decoration: none;
    position: absolute;
    top: -33px;
    left: -424px;
    font-size: 9px;
    letter-spacing: 1px;
}

.options {
    position: absolute;
}

.list1 {
    position: absolute;
    top: -55px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    left: -16px;
    font-size: 24;
    font-size: 15px;
    white-space: nowrap;
}

.list2 {
    position: absolute;
    top: -55px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    left: 130px;
    font-size: 15px;
    text-indent: 2%;
    white-space: nowrap;
}

.list3 {
    position: absolute;
    top: -55px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    left: 284px;
    font-size: 24;
    font-size: 15px;
}

.list4 {
    position: absolute;
    top: -55px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    left: 438px;
    font-size: 24;
    font-size: 15px;
}

.list5 {
    position: absolute;
    top: -55px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    left: 553px;
    font-size: 24;
    font-size: 15px;
}

.menubar {
    position: absolute;
    width: 35px;
    top: -55px;
    left: 654px;
}

.animate:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(243, 243, 243);
    visibility: unset;
    transition: all 0.4s ease-in-out;
}

.animate:hover:before {
    visibility: visible;
    width: 100%;
}

.content {
    position: absolute;
    top: 252px;
    left: 269px;
    font-size: 74px;
    color: rgba(255, 255, 255, 0.916);
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 1px;
    line-height: 62px;
}


.arrow {
    opacity: 0;
    position: absolute;
    left: 90%;
    top: 80%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: rgb(251, 246, 246);
    content: '';
    height: 2px;
    position: absolute;
    top: 50px;
    left: -48px;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 45%;
    }

    70% {
        opacity: initial;
    }

    100% {
        opacity: 10;
    }
}



/* .container-2 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    box-sizing: border-box;
    background-color: rgb(251, 250, 250);
} */

/* .subheading {
    font-size: 45px;
    white-space: nowrap;
    color: black;
    left: -124px;
    position: absolute;
    left: 128px;
    top: 105px;
    font-family: initial;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
/* 
.container-3 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    box-sizing: border-box;
    background-color: rgb(251, 250, 250);
}

.content-3 {
    position: absolute;
    top: 91px;
    left: 112px;
    font-size: 47px;
    color: rgba(0, 0, 0, 0.916);
    letter-spacing: 1px;
    line-height: 45px;
    font-family: serif;
}

.hey {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(calc(-250px*9));
    }
}

.slide {
    height: 100vh;
    width: 360px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.onhover {
    transition: transform 1%;
}

.onhover:hover {
    transform: translate(20px);
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgb(255, 255, 255) 0% rgb(0, 0, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.JsPage {
    background-color: rgb(252, 252, 252);
}  */